@model SignUp.Models.UserModel
@{
    ViewData["Title"] = "Email Authentication";
}

<div dir="rtl" class="text-right">
    <h1>احراز حویت</h1>
    <p>لینک فعال سازی برای ایمیل زیر ارسال گردید</p>
    <p> @Html.DisplayFor(model => model.Email)  </p>

</div>