@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">خوش آمدید</h1>
    <h3><p><a class="nav-link text-dark" asp-area="" asp-controller="UserModels" asp-action="Create">برای ثبت نام لطفا اینجا کلیک کنید</a></p></h3>
</div>
