<div class="container"  style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
  <div class="topnav">
    <a routerLink="/" routerLinkActive="active">Home</a>
    <a routerLink="/User-List" routerLinkActive="active">User List</a>
    <a routerLink="/User-Create" routerLinkActive="active">User Create</a>
  </div>
  </div>
  <div class="container"  style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
    <router-outlet></router-outlet>
    <ng-http-loader></ng-http-loader>
  </div>
