<div class="text-right" dir="rtl">
<h2>لیست کاربران</h2>
<br>
    <table class="table table-striped">
        <thead>
            <tr>
                <td>
                    #
                </td>
                <td>
                    نام
                </td>
                <td>
                    موبایل
                </td>
                <td>
                    نام کاربری
                </td>
                <td>
                    تلفن
                </td>
                <td>
                    ایمیل
                </td>
                <td>
                    آدرس
                </td>
                <td>
                    رمز عبور
                </td>
                <td>


                </td>

            </tr>

        </thead>
        <tbody >
            <tr *ngFor="let user of users" >
                <td >
                    {{user.id}}
                </td>
                <td>
                    {{user.fullName}}

                </td>
                <td >
                    {{user.mobile}}
                </td>
                <td >
                    {{user.userName}}
                </td>
                <td >
                    {{user.phone}}
                </td>
                <td >
                    {{user.email}}
                </td>
                <td >
                    {{user.address}}
                </td>
                <td >
                    {{user.password}}
                </td>
                <td>
                   <a [routerLink]="['/update', user.id]" class="btn btn-info">ویرایش</a> &nbsp;
                  <button class="btn btn-danger" (click)="deleteUser(user)"> حذف</button>
              </td>

            </tr>
        </tbody>
    </table>
  </div>

